.footer {
  // background-image: url('../../assets/footerpreschool.jpg');
  background-color: lightblue;
  color: black;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  width: 100%;

  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;

    .footer-section {
      flex: 1;
      min-width: 250px;
      margin-bottom: 20px;

      h2, h3 {
        font-size: 24px;
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
        color: black;
        line-height: 1.6;
      }
    }

    .about {
      h2 {
        font-size: 28px;
        color: black;
        margin-bottom: 20px;
      }

      p {
        color: black;
        font-size: 16px;
      }
    }

    .contact {
      .icon {
        font-size: 18px;
        color: #f44336;
        margin-right: 10px;
      }
    }

    .social {
      .social-icons {
        display: flex;
        gap: 15px;

        a {
          color: black;
          font-size: 20px;
          transition: color 0.3s;

          &:hover {
            color: #f44336;
          }
        }
      }
    }
  }

  .footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: black;

    p {
      margin: 0;
    }
  }
}

/* Tablet View (768px and below) */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;

    .footer-section {
      width: 100%;
    }

    .social .social-icons {
      justify-content: center;
    }
  }
}


@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  
  }
  .footer-section about{
    width:100%;
    flex-direction: column;
  }

  .footer-section {
    width: 100%;
  }

  .social .social-icons {
    justify-content: center;
  }
}


@media (max-width: 480px) {
  .footer {
    padding: 20px 10px;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }

  .footer-section {
    width: 100%;
  }

  .social .social-icons {
    justify-content: center;
    // background-color: black;
  }

  .footer-bottom {
    font-size: 12px;
    padding-top: 10px;
  }
}